<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - User Home</title>
    <link rel="stylesheet" href="/styles/Userlogin.css"> 
</head>
<body>
    <div class="welcome-container">
        <h1>Welcome </h1>
        <p class="user">{{detials}}</p>

        <p>You are logged in successfully.</p>
        <div class="action-buttons">
           
            <a href="/user/logout" class="button logout">Log Out</a>
        </div>
    </div>

</body>
</html>
